.event-card {
    min-width: 18%;
    max-height: auto;
    background-color: #F5F5DC;
    border-radius: 20px;
    opacity: 100%;
    color: black;
    background-size: contain;
    margin: 2rem;
}

.card-text-area {
    padding: 1rem;
}

.event-title {
    font-size: 23px;
    font-weight: 700;
}

.event-venue {
    font-size: 20px;
    font-weight: 600;
}

.event-schedule {
    font-size: 18px;
    font-weight: 600
}

@media only screen and (max-width: 768px) {
    .event-card {
        margin: "2px"
    }
}