/* Footer */

.footer {
    color: white;
    padding-top: 48px;
    padding-bottom: 35px;
    background: linear-gradient(to bottom, #000000, #434343);
    margin-top: 4rem
}

.links {
    justify-content: space-evenly;
}

.footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.footer a:hover {
    color: #bec4cf;
}

.subscribe {
    background-color: #e4eff8;
    border: unset;
    border-radius: 40px;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}

.sub-btn {
    background-color: #0575E6;
    color: #fff;
    border: unset;
    border-radius: 40px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
    min-width: 30%;
}

.social-mob {
    display: none;
}

.tnc-mob {
    display: none;
}

@media only screen and (max-width: 768px) {

    .footer-div-mob {
        min-width: 95% !important;
    }

    .subscribe {
        padding-left: 15px;
        padding-right: 15px;
    }

    .sub-btn {
        padding-left: 15px;
        padding-right: 15px;
    }

    .subs-title {
        text-align: center;
    }

    .contact {
        margin-left: 0.65 rem;
    }

    .links {
        margin: 0 auto;
        gap: 3rem;
    }

    .copy-statement {
        margin: auto;
        font-size: 14px;
    }

    .made {
        margin: auto;
        font-size: 14px;
    }

    .tnc-mob {
        display: block;
        font-size: 14px;
    }

    .social-mob {
        display: block;
    }

}